beautifulsoup4==4.10.0
bottle==0.12.19
google==3.0.0
numpy~=1.22.3
pandas==1.3.5
requests==2.27.1
scikit_learn==1.0.2
SQLAlchemy==1.4.27
torch==1.11.0
transformers==4.17.0
sentencepiece==0.1.95

scikit-learn~=1.0.2
PyYAML~=6.0